# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Logs
*.log
logs/

# AWS / Credentials (CRITICAL)
.aws/
*.pem
*.key
*.crt

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# Git
.git/

# Temporary / misc
*.tmp
*.swp
